<!DOCTYPE html>
<html ng-app="directoryApp">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>AngularJS + Gulp</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
        <link rel="stylesheet" href="css/style.css">
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
        <script src="js/directory.js"></script>

    </head>
    <body ng-controller="directoryController as dirList">
        <div class="container">
            <h1>
                AngularJS + Gulp
                <br>
                <small>LevelupTuts</small>
            </h1>
            <hr>
        	<input type="text" ng-model="search" class="form-control" placeholder="Filtra un poco la lista acá">
            <hr>
            
            <button class="btn btn-primary" ng-if="!dirList.toggle" ng-click="dirList.toggle = true">Show Names</button>

            <button class="btn btn-secondary" ng-if="dirList.toggle" ng-click="dirList.toggle = false">Hide Names</button>

            <ul ng-class="{'hidden': !dirList.toggle}">
                <li ng-repeat="item in dirList.list | filter:search"
                    ng-class="item.age > 29 ? 'over-thirty' : 'under-thirty'">
                    <strong>{{item.name}}</strong> - <em>{{item.age}}</em>
                </li>   
            </ul>

            <!-- Esto corresponde a otra manera de hacer lo que está más arriba, pero más "cochino" -->
            <!-- ng-class="{'over-thirty': item.age > 30, 'under-thirty': item.age < 30}" -->

            <form ng-submit="dirList.addPerson()">
                <input type="text" placeholder="Name" ng-model="dirList.name">
                <input type="number" placeholder="Age" ng-model="dirList.age">
                <input type="submit" value="Submit">
            </form>
        </div>


    </body>
</html>